---
import BaseLayout from "../layouts/main.astro";
import AddRepo from "../components/AddRepo.astro";
import IssueCard from "../components/IssueCard.astro";
import { Octokit } from "@octokit/rest";
const octokit = new Octokit({
  auth: process.env.GITHUB_TOKEN,
});

let displayError = false;
let issues = [];
let url = "";
// handle the form submission
if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  url = new URL(data.get("url"));
  const [owner, repo] = url.pathname.split("/").slice(1, 3);
  try {
    const res = await octokit.request(`GET /repos/${owner}/${repo}/issues`, {
      owner: "OWNER",
      repo: "REPO",
      headers: {
        "X-GitHub-Api-Version": "2022-11-28",
      },
    });
    issues = res.data;
  } catch (error) {
    if (error instanceof Error) {
      displayError = true;
      alert(error.message);
    }
  }
}
---

<BaseLayout title="Home">
  <AddRepo displayError={displayError} url={url} />
  <div class="mt-4">
    {issues.map((issue) => <IssueCard issue={issue} />)}
  </div>
</BaseLayout>
